<ion-header>
  <ion-toolbar>
    <ion-title>relatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-icon class="footer-content" name="home-outline" slot="start" [routerLink]="['/home']"></ion-icon>
    <ion-icon class="footer-content" name="push-outline" slot="start" [routerLink]="['/contas/pagar']"></ion-icon>
    <ion-icon class="footer-content" name="download-outline" slot="end" [routerLink]="['/contas/receber']"></ion-icon>
    <ion-icon class="footer-content" name="duplicate-outline" slot="end" [routerLink]="['/contas/cadastro']"></ion-icon>
  </ion-toolbar>
</ion-footer>